# General C++ exclusion 
*.o
*.so

# General Python exclusion 
*.pyc

# Swap files 
*.swp 

# General data file exclusions
*.txt 
*.root
*.log
log*

# Specific file exclusion 
# [relative/path/to/file]

test/Production_MC_CMSSW74X_MiniAOD/config_files
test/Production_MC_CMSSW74X_MiniAOD/MC_datasets_yichen
python/__init__.py


# Specific file inclusion 
# ![relative/path/to/file]


