# General C++ exclusion
*.o
*.so

# General Python exclusion
*.pyc

# Swap files
*.swp

# General data file exclusions
*.txt
*.root
*.log
log*

# Specific file exclusion
# [relative/path/to/file]

test/hlt.py
python/__init__.py
interface/makeHeaders/format.h
interface/makeHeaders/TriggerBooking.h

# Specific file inclusion
# ![relative/path/to/file]
