
# Untracking directories and specific files
test/Production_MC_CMSSW74X_MiniAOD/MC_datasets_*
test/Production_MC_CMSSW74X_MiniAOD/config_files
python/__init__.*


# Untracking compile files 
*.pyc
*.txt
